#header {
    width: 94%;
    position: sticky; 
    top: 0;
    background-color: #7CB9E8;
    height: 70px;
    padding-left: 3%;
    padding-right: 3%;
    color: white;
    z-index: 12;
    /* z-index: 2147483647; */
}

.header-left {
    font-size: 24px;
    font-weight: 800;
    width: 94%;
    /* display: flex;
    flex-wrap: wrap; */
}



.header-right {
    width: 30%;
    font-size: 18px;
    color:blue;
    font-weight: 400;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-right: 20px;
}

.icons-left {
    cursor: pointer;
}


@media  screen and (max-width:1300px) {
    .header-right {
        width: 40%;
    }
}


@media  screen and (max-width:900px) {
    .header-right {
        width: 50%;
    }
}


@media  screen and (max-width:700px) {
    .header-right {
        width: 60%;
    }
}

@media  screen and (max-width:550px) {
    .header-right {
        width: 80%;
    }
}

@media  screen and (max-width:450px) {
    .header-right {
        width: 94%;
    }
}

